 {% block aboutme %}
 
 <!-- About Me Subpage -->
              <section data-id="about-me" class="animated-section">
                <div class="page-title">
                  <h2>About <span>Me</span></h2>
                </div>

                <div class="section-content">
                  <!-- Personal Information -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-7">
                      <p>I am Deepak Patidar, Software Engieer and Ethical Hacker from India, Indore. I have a Knowlwdge of 7+ Technology with their Popular framework and Tools , I have rich experience in Web Development and Software Development, also I am good at wordpress. I love to talk with you about our unique.</p>
                    </div>

                    <div class="col-xs-12 col-sm-5">
                      <div class="info-list">
                        <ul>
                          <li>
                            <span class="title">Age</span>
                            <span class="value">23</span>
                          </li>

                          <li>
                            <span class="title">Residence</span>
                            <span class="value">India</span>
                          </li>

                          <li>
                            <span class="title">Address</span>
                            <span class="value">Vaishali Nagar, Indore</span>
                          </li>

                          <li>
                            <span class="title">e-mail</span>
                            <span class="value">info.deepakpatidar@gmail.com</span>
                          </li>

                          <li>
                            <span class="title">WhatsApp</span>
                            <span class="value">9399811283</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- End of Personal Information -->

                  <div class="white-space-50"></div>

                  <!-- Services -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="block-title">
                        <h3>What <span>I Do</span></h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div class="col-inner">
                        <div class="info-list-w-icon">
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-store"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Ecommerce</h4>
                              <p>known as electronic commerce or internet commerce, refers to the buying and selling of goods or services using the internet, and the transfer of money and data to execute these transactions. Ecommerce is often used to refer to the sale of physical products online, but it can also describe any kind of commercial transaction that is facilitated through the internet.</p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-laptop-phone"></i>
                            </div><div class="ci-text">
                              <h4>Web Developer</h4>
                              <p>Web development services imply designing, building, integrating, scaling and maintaining dynamic software solutions that work via intranet or internet. Using the FastFarword Technologies.</p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-cloud"></i>
                            </div><div class="ci-text">
                              <h4>Linux And Cloud </h4>
                              <p>In cloud computing, the services are delivered and used over the Internet and are paid for by cloud customer (your business)  -- typically on an "as-needed, pay-per-use" business model. The cloud infrastructure is maintained by the cloud provider, not the individual cloud customer.Cloud computing networks are large groups of servers and cloud service providers that usually take advantage of low-cost computing technology, with specialized connections to spread data-processing chores across them. This shared IT infrastructure contains large pools of systems that are linked together. Virtualization techniques are often used to maximize the power of cloud computing. ex. AWS,Azur,DigitalOcean and Google Cloud</p>
                            </div>
                          </div>

                        </div>
                      </div>
                      
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div class="col-inner">
                        <div class="info-list-w-icon">
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-pencil"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Copywriting</h4>
                              <p> I like to Write Something Meaningfull And Interesting as Video scripts, Email newsletters,Keynote speeches,Social media posts,Podcast titles White papers,Web page copy Landing pages,YouTube video description and Books..
                          </p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-bug"></i>
                            </div><div class="ci-text">
                              <h4>CyberSecurity And Ethical Hacking</h4>
                              <p>Our team will attempt to hack your system using the same techniques used by black-hat hackers and give you a detailed report of all the weaknesses they find.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-code"></i>
                            </div><div class="ci-text">
                              <h4>Software and Game Development</h4>
                              <p>This is  One of My biggest Hobby to Create Interactive Software and Game. Using the Fast and repid Development Stratergy. if you’re a software engineer, there’s no problem with turning game development into a hobby before you switch. It gives you a chance to see if it’s something you truly enjoy, and you need to have a portfolio of playable games (or at least demos) to even have a chance of scoring a job. Gaming companies want to make sure you have the right attitude and commitment to succeed in their projects. </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Services -->
                  {% endblock aboutme %}